.contenedor{
  width: 100%;
  height: 1190px;
  background: #E8ECE8;
}
.minihead{
  width: 100%;
  height: 62px;
  background: white;
}
.logo{
  width: 200px;
  height: 62px;
  margin-left: 30px;
}
#btn-menu{

    display: none; /
}

.lo{
  display: none;
  width: 60px;
  height: 60px;
}

.menu ul{
    margin: 0;
    list-style: none;
    padding: 0;
    display: flex;

}
.menu li:hover{
  cursor: pointer;
    background:#4FD639;

}
.menu li{
    font-size: 20px;
    font-family: 'arial', sans-serif;
    text-align: center;
    -webkit-background-clip: text;
  cursor: pointer;
  transition: 1s;
  position: relative;
}
.menu li a{
    display: block;
    padding: 25px 25px;
    color: white;
    text-decoration: none;

}

.menu li ul{
	display: none;
	position: absolute;
	width: 290px;
	background: black;
}

.menu li:hover > ul{
display: block;

}

nav{
    background: black;
    height: 80px;


}
.cuadro1{
  width: 100%;
  height: 435px;
  background-color: black;
  background-position: right;

}
.textos{
  float:right;
  width: 31%;
  height: 250px;
  margin-left: 700px;
  flex-direction: column;
}
.mi{
  float: left;
  width: 45%;
  height : 330px;
  background: transparent;
  margin-left: 5px;
  margin-top: -30px;
}
#titulo{
  font-family: 'Orbitron', sans-serif;
  color:#4FD639 ;
}
#descripcion{
  text-align: justify;
  font-size: 18px;
  font-family: arial;
  font-style: arial;
  color: #717271 ;
}
.log{
  width: 875px;
  height: 415px;
  background-image: url("../imagenes/gi.gif");
  background-size: cover;
  margin-left: 1000px;
}
.line{
  width: 100%;
  height: 65px;
  background: rgb(0,0,0);
background: linear-gradient(90deg, rgba(0,0,0,1) 52%, rgba(59,198,31,1) 100%);
}
#interes{
  text-align: center;
  font-family: 'Orbitron', sans-serif;
  color:#4FD639 ;
}
.fila1{
  width: 100%;
  height: 35%;
  display:flex;
  flex-direction: row;
  margin: auto;
  margin-bottom: 25px;
}
.c1, .c2, .c3, .c4, .c5{
  width: 400px;
  height: 425px;
  margin-right: auto;
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  background: white;
  transition: 0.8s;
}
.c1:hover, .c2:hover, .c3:hover, .c4:hover, .c5{
 background: linear-gradient(70deg, black, green);
  border-radius: 5px;
    color: black;
}
.pr1, .pr2, .pr3, .pr4, .pr5{
  width: 100%;
  height: 200px;
}
.titulov{
  text-align: center;
  color: #4FD639;
  font-family: 'Orbitron', sans-serif;
  font-size: 17px;
  margin-left: 5px;
}
.text{
text-align: right;
color: #717271;
font-family: arial;

}
.food{
width: 100%;
height: 125px;
background: black;
flex-direction: row;
}
.mini{
  width: 100%;
  height: 40px;
  margin-top: 5px;
}
#blackl{
  width: 200px;
  height: 55px;
}
.datos{
  width: 25%;
  height: 100px;
  margin-left: 50px;
}
#mail{
    font-family: 'Orbitron', sans-serif;
  color: #21C107 ;
}
.icons{
  width: 20%;
  height: 40px;
  margin-left: 55px;
}
#work{
  font-family: arial;
  font-style: arial;
  color: #717271 ;
}
@media only screen and (max-width:767px){
  .contenedor{
    width: auto;
    height: auto;
  }
  .minihead{
    width: auto;
    height: 62px;
  }
  .logo{
    width: auto;
    height: 62px;
  }
  .lo{
    display: block;
    border-radius: 5px;
    padding: 1px 1px 1px 1px;
  }
  .menu{
       position: absolute;
        width:45%;
		height: 600px;
         margin-left: -60%;
		background: black;
        transition: all 0.5s;
    }

	.menu li ul{
	display: none;
	position: absolute;
	width: 170px;
	background: black;
}

.menu li:hover > ul{
display: block;
 background:black;
}



    .menu ul{
       flex-direction: column;

         background: black;
    }
    .menu li{
         border-top:1px solid #fff;

    }

  #btn-menu:checked ~ .menu {
        margin: 0px;

    }
  .cuadro1{
    width: auto;
    height: 435px;
    background-position: left;
  }
  .mi{
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
  }
  #titulo{
    font-size: 18px;
      font-family: 'Orbitron', sans-serif;
    color: #21C107;
  }
  #descripcion{
    width: auto;
    font-size: 18px;

  }
  .log{
display: none;
  }
  .cuadro2{
  width: 510px;
  height: 1700px;

  }

  #noti{
    text-align: center;
    margin-top: 5px;
    font-family: arial;
    color: #4FD639  ;
  }
  .fila1{
    width: auto;
    height: 1000px;
    display:flex;
    flex-direction: column;
  }
  .c1, .c2, .c3, .c4, .c5{
    width: auto;
    height: 300px;
    display: flex;
    flex-direction: column;
  }
  .pr1, .pr2, .pr3, .pr4, .pr5{
    width: auto;
    height: 135px;
  }
  .titulov{
    color: #4FD639;
    font-family: arial;
    font-size: 17px;
    margin-left: 5px;
  }
  .text{
    font-size: 14px;
  text-align: justify;
  color: #717271;
  font-family: arial;

  }
  .food{
  width: auto;
  height: 125px;
  background: black;
  flex-direction: row;
  }
  .mini{
    width: auto;
    height: 40px;
    margin-top: 5px;
  }
  #blackl{
    width: 200px;
    height: 55px;
  }
  .datos{
    width: 25%;
    height: 100px;
    margin-left: 50px;
  }
  #mail{
      font-size: 17px;
      font-family: 'Orbitron', sans-serif;
    color: #21C107 ;
  }
  .icons{
    width: 20%;
    height: 40px;
    margin-left: 55px;
  }
  #work{
    font-size: 17px;
    font-family: arial;
    font-style: arial;
    color: #717271 ;
  }
}
